helmCharts:
  - name: uptime-kuma
    repo: https://helm.irsigler.cloud
    releaseName: uptime-kuma
    namespace: uptime-kuma
    version: 2.21.0
    valuesFile: values.yaml

components:
  - ../../components/tls-ingress

configMapGenerator:
  - name: tls-config
    literals:
      - host=uptime.nora
      - service=uptime-kuma
      - port=http
      - pathType=ImplementationSpecific
