helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    releaseName: authentik
    namespace: authentik
    version: 2025.8.3
    valuesFile: values.yaml

components:
  - ../../components/ntfy-token
  - ../../components/offsite-ssh-key
  - ../../components/tls-ingress

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: authentik-backup-job-definitions
    files:
      - backup/backup-db-job.yaml
  - name: tls-config
    literals:
      - host=authentik.nora
      - service=authentik-server
      - port=http
      - pathType=Prefix

resources:
  - secrets/authentik-config-sealed.yaml
  - secrets/authentik-postgresql-custom-sealed.yaml
  - backup/rbac.yaml
  - backup/orchestrator-cronjob.yaml
  
  # --- INTEGRATIONS

  # ARGOCD
  - integrations/argocd/secrets.sealed.yaml