- name: Prepare Raspberry Pi nodes for k3s
  hosts: ether_nodes
  become: true
  tasks:
    - name: Read /boot/firmware/cmdline.txt
      ansible.builtin.slurp:
        path: /boot/firmware/cmdline.txt
      register: cmdline_raw

    - name: Decode cmdline
      ansible.builtin.set_fact:
        cmdline_content: "{{ cmdline_raw.content | b64decode }}"

    - name: Add cgroup params if missing
      ansible.builtin.lineinfile:
        path: /boot/firmware/cmdline.txt
        regexp: '^(.*)$'
        line: '\1 cgroup_memory=1 cgroup_enable=memory'
        backrefs: yes
      when: >
        'cgroup_memory=1' not in cmdline_content
        or 'cgroup_enable=memory' not in cmdline_content
      notify: Reboot required

  handlers:
    - name: Reboot required
      ansible.builtin.reboot:
        reboot_timeout: 600
