- name: Prepare Raspberry Pi nodes for k3s
  hosts: ether_nodes
  become: true
  tasks:
    - name: Ensure cgroups enabled in /boot/cmdline.txt
      ansible.builtin.lineinfile:
        path: /boot/cmdline.txt
        backrefs: yes
        regexp: '^(.*)$'
        line: '\1 cgroup_memory=1 cgroup_enable=memory'
      notify: Reboot required

    - name: Set iptables to legacy
      ansible.builtin.shell: |
        update-alternatives --set iptables /usr/sbin/iptables-legacy
        update-alternatives --set ip6tables /usr/sbin/ip6tables-legacy
      args:
        executable: /bin/bash

  handlers:
    - name: Reboot required
      ansible.builtin.reboot:
        reboot_timeout: 600
