- name: Install k3s agent (worker)
  hosts: ethernode2
  become: true
  vars:
    k3s_server_ip: "{{ hostvars['ethernode1']['ansible_host'] }}"
    k3s_version: "v1.29.0+k3s1"
  tasks:
    - name: Fetch token from control plane node
      ansible.builtin.slurp:
        src: /tmp/k3s_token.txt
        delegate_to: ethernode1
      register: k3s_node_token

    - name: Set fact for token
      ansible.builtin.set_fact:
        k3s_token_decoded: "{{ k3s_node_token['content'] | b64decode | trim }}"

    - name: Install k3s agent
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | K3S_URL=https://{{ k3s_server_ip }}:6443 K3S_TOKEN={{ k3s_token_decoded }} INSTALL_K3S_VERSION={{ k3s_version }} sh -
      args:
        executable: /bin/bash
