- name: Fetch kubeconfig from k3s server
  hosts: ethernode1
  tasks:
    - name: Read kubeconfig from server
      ansible.builtin.slurp:
        src: /etc/rancher/k3s/k3s.yaml
      register: raw_kubeconfig
      become: true

    - name: Save kubeconfig locally
      ansible.builtin.copy:
        content: "{{ raw_kubeconfig.content | b64decode }}"
        dest: "./kubeconfig_raw.yaml"
        mode: '0600'
      delegate_to: localhost

    - name: Replace localhost with server IP in kubeconfig
      ansible.builtin.replace:
        path: ./kubeconfig_raw.yaml
        regexp: 'https://127.0.0.1:6443'
        replace: "https://{{ hostvars['ethernode1']['ansible_host'] }}:6443"
      delegate_to: localhost
