- name: Setup Grafana kiosk
  hosts: ethernode3
  become: true

  vars:
    kiosk_user: "pi"
    kiosk_url: "http://ether-logo.nora/?nocache=$(date +%s)"
    autostart_path: "/home/{{ kiosk_user }}/.config/autostart"

  tasks:
    - name: Ensure Chromium is installed
      apt:
        name:
          - chromium
        state: present
        update_cache: yes

    - name: Create autostart directory
      file:
        path: "{{ autostart_path }}"
        state: directory
        owner: "{{ kiosk_user }}"
        group: "{{ kiosk_user }}"
        mode: '0755'

    - name: Deploy kiosk autostart file
      copy:
        dest: "{{ autostart_path }}/grafana-kiosk.desktop"
        owner: "{{ kiosk_user }}"
        group: "{{ kiosk_user }}"
        mode: '0644'
        content: |
          [Desktop Entry]
          Type=Application
          Name=Grafana Kiosk
          Exec=chromium --no-sandbox --cursor-off --ash-hide-cursor --disable-gpu --kiosk --incognito --password-store=basic --ignore-certificate-errors --noerrdialogs --disable-infobars --start-fullscreen --allow-running-insecure-content --disable-features=PowerScheduler,PowerSaverMode,TabFreeze,OptimizationGuideModelDownloading --disable-background-timer-throttling --disable-renderer-backgrounding --disable-backgrounding-occluded-windows --disable-web-security {{ kiosk_url }} &
