# Requires:
# ansible-galaxy collection install artis3n.tailscale

- name: Install and configure Tailscale on Raspberry Pi as a subnet router
  hosts: ethernode1
  become: true
  vars:
    tailscale_authkey: "tskey-auth-blabla"  # Replace with your actual auth key, only needed for installation
    tailscale_args: "--advertise-routes=192.168.0.0/24 --snat-subnet-routes=false --accept-routes"

  pre_tasks:
    - name: Enable IPv4 forwarding
      ansible.builtin.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        state: present
        sysctl_set: yes
        reload: yes

  roles:
    - role: artis3n.tailscale.machine
