# This configures routing on Site B

- name: Configure persistent, idempotent routing with iptables
  hosts: pustkow_pi
  become: true
  vars:
    this_subnet_cidr: "192.168.178.0/24"
    other_subnet_cidr: "192.168.0.0/24"
    other_rpi_tailscale_ip: "100.94.36.28"
    admin_ip: "100.104.91.122"

  tasks:
    - name: Ensure iptables-persistent is installed
      apt:
        name: iptables-persistent
        state: present
        install_recommends: no

    - name: Define routing rules
      ansible.builtin.iptables:
        chain: FORWARD
        in_interface: "{{ item.in_iface }}"
        out_interface: "{{ item.out_iface }}"
        source: "{{ item.source }}"
        destination: "{{ item.dest }}"
        jump: ACCEPT
        ip_version: ipv4
        state: present
      loop:
        - { in_iface: "tailscale0", out_iface: "wlan0", source: "{{ other_subnet_cidr }}", dest: "{{ this_subnet_cidr }}" }
        - { in_iface: "wlan0", out_iface: "tailscale0", source: "{{ this_subnet_cidr }}", dest: "{{ other_subnet_cidr }}" }
        - { in_iface: "tailscale0", out_iface: "wlan0", source: "{{ other_rpi_tailscale_ip }}", dest: "{{ this_subnet_cidr }}" }
        - { in_iface: "wlan0", out_iface: "tailscale0", source: "{{ this_subnet_cidr }}", dest: "{{ other_rpi_tailscale_ip }}" }
        - { in_iface: "tailscale0", out_iface: "wlan0", source: "{{ admin_ip }}", dest: "{{ this_subnet_cidr }}" }
        - { in_iface: "wlan0", out_iface: "tailscale0", source: "{{ this_subnet_cidr }}", dest: "{{ admin_ip }}" }

    - name: Save iptables rules for persistence
      community.general.iptables_state:
        state: saved
        path: /etc/iptables/rules.v4
        ip_version: ipv4
