apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - ssh-key-secret.sealed.yaml

patches:
  - target:
      group: batch
      version: v1
      kind: CronJob
      labelSelector: components.nora/offsite-ssh=enabled
    patch: |-
      - op: add
        path: /spec/jobTemplate/spec/template/spec/volumes/-
        value:
          name: offsite-ssh-key
          secret:
            secretName: offsite-ssh-key
            defaultMode: 0600
      
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/volumeMounts/-
        value:
          name: offsite-ssh-key
          mountPath: /offsite-ssh
