# Requires a ConfigMap named "nginx-config" with default.conf value of nginx config
# Requires a Deployment and a Service with components.nora/nginx-proxy=enabled annotation
# Port for proxy: 9292

apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      annotationSelector: components.nora/nginx-proxy=enabled
    patch: |-
      - op: add
        path: /spec/template/spec/containers/-
        value:
          name: nginx
          image: nginx:stable-alpine
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9292
              name: http-nginx
          volumeMounts:
            - name: nginx-config-volume
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: nginx-config-volume
          configMap:
            name: nginx-config
  
  - target:
      version: v1
      kind: Service
      annotationSelector: components.nora/nginx-proxy=enabled
    patch: |-
      - op: add
        path: /spec/ports/-
        value:
          name: http-nginx-proxy
          protocol: TCP
          port: 9292
          targetPort: http-nginx
