namespace: paperless

helmCharts:
  - name: paperless-ngx
    repo: oci://codeberg.org/wrenix/helm-charts
    releaseName: paperless
    namespace: paperless
    version: 0.2.1
    valuesFile: values.yaml

generatorOptions:
  disableNameSuffixHash: true

components:
  - ../../components/ntfy-token
  - ../../components/offsite-ssh-key
  - ../../components/tls

resources:
  - db-creds-secret.sealed.yaml
  - storage.yaml
  - extra-env-secret.sealed.yaml
  - pvc-patch-job.yaml
  - pvc-patch-rbac.yaml
  - backup/rbac.yaml
  - backup/orchestrator-cronjob.yaml
  - ingress.yaml

configMapGenerator:
  - name: paperless-backup-job-definitions
    files:
      - backup/backup-media-job.yaml
      - backup/backup-db-job.yaml
      - backup/backup-redis-job.yaml
  - name: tls-config
    literals:
      - host=papers.nora

patches:
  - target:
      group: ""
      version: v1
      kind: Secret
      name: paperless
    patch: |-
      - op: remove
        path: /data/PAPERLESS_REDIS
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: paperless
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/command
        value: ["/bin/sh", "-c"]
      - op: add
        path: /spec/template/spec/containers/0/args
        value:
          - |
            export PAPERLESS_REDIS="redis://default:${REDIS_PASSWORD}@paperless-redis-master"
            exec /init
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: paperless
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/envFrom/-
        value:
          secretRef:
            name: paperless-extra-env
  # - target:
  #     group: networking.k8s.io
  #     version: v1
  #     kind: Ingress
  #     name: paperless
  #   patch: |-
  #     - op: add
  #       path: /metadata/labels/components.nora~1tls
  #       value: enabled

replacements:
  - source:
      kind: ConfigMap
      name: tls-config
      fieldPath: data.host
    targets:
      # - select:
      #     kind: Ingress
      #   fieldPaths:
      #     - spec.tls.0.hosts.0
      - select:
          kind: Certificate
        fieldPaths:
          - spec.commonName
          - spec.dnsNames.0