fullnameOverride: paperless
config:
  url: https://papers.nora
  # redis:
  #   url: redis://paperless-redis-master:6379
  database:
    existingSecret:
      name: "db-creds"
      passKey: "postgres"
env:
  PAPERLESS_USE_X_FORWARD_HOST: true
  PAPERLESS_ENABLE_FLOWER: true
  # See: https://docs.paperless-ngx.com/troubleshooting/ (ctrlf granian)
  PAPERLESS_PORT: 8000
  PAPERLESS_OCR_LANGUAGES: pol
  PAPERLESS_OCR_LANGUAGE: pol+eng

# podSecurityContext:
#   fsGroup: 1000

# ingress:
#   enabled: true
#   className: "traefik"
#   annotations:
#     kubernetes.io/ingress.class: "traefik"
#   hosts:
#     - host: papers.nora
#       paths:
#         - path: /
#           pathType: ImplementationSpecific

persistence:
  enabled: true
  storageClass: "-"
  existingClaim: "paperless-data"

postgresql:
  enabled: true
  global:
    security:
      allowInsecureImages: true
  image:
    registry: docker.io
    repository: library/postgres
    tag: "17.5-bookworm"
  primary:
    args:
      - -c
      - config_file=/bitnami/postgresql/conf/postgresql.conf
      - -c
      - hba_file=/bitnami/postgresql/conf/pg_hba.conf
    configuration: |
      listen_addresses = '*'
      port = '5432'
      wal_level = 'replica'
      fsync = 'on'
      hot_standby = 'on'
      log_connections = 'false'
      log_disconnections = 'false'
      log_hostname = 'false'
      client_min_messages = 'error'
      include_dir = 'conf.d'
    pgHbaConfiguration: |
      host     all             all             0.0.0.0/0               scram-sha-256
      host     all             all             ::/0                    scram-sha-256
      local    all             all                                     scram-sha-256
      host     all             all        127.0.0.1/32                 scram-sha-256
      host     all             all        ::1/128                      scram-sha-256
    extendedConfiguration: |
      max_connections = 500
    extraEnvVars:
      - name: POSTGRES_DB
        value: '{{ (include "postgresql.v1.database" .) }}'
    resourcesPreset: "none"
    containerSecurityContext:
      readOnlyRootFilesystem: false
  auth:
    database: paperless
    username: paperless
    existingSecret: "db-creds"
    secretKeys:
      adminPasswordKey: postgres
      userPasswordKey: postgres
      replicationPasswordKey: postgres

redis:
  enabled: true
  global:
    security:
      allowInsecureImages: true
  image:
    registry: docker.io
    repository: library/redis
    tag: "8.0.3"
  auth:
    enabled: true
    existingSecret: "db-creds"
    existingSecretPasswordKey: "redis"