apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: finachy

components:
  - ../../components/tls-ingress

resources:
  - configmap.yaml
  - secret.sealed.yaml
  - pvc-app-storage.yaml
  - pvc-postgres.yaml
  - pvc-redis.yaml
  - postgres-service.yaml
  - postgres-statefulset.yaml
  - redis-service.yaml
  - redis-statefulset.yaml
  - web-service.yaml
  - web-deployment.yaml
  - worker-deployment.yaml

configMapGenerator:
  - name: tls-config
    literals:
      - host=finachy.nora
      - service=finachy-web
      - port=http
      - pathType=ImplementationSpecific