helmCharts:
  - name: n8n
    repo: oci://8gears.container-registry.com/library
    releaseName: n8n
    namespace: n8n
    version: 1.0.7
    valuesFile: values.yaml
  
components:
  - ../../components/tls-ingress
  - ../../components/nginx-proxy

resources:
  - nginx-config.yaml

configMapGenerator:
  - name: tls-config
    literals:
      - host=n8n.nora
      - service=n8n
      - port=http
      - pathType=Prefix
