helmCharts:
  - name: immich
    repo: https://immich-app.github.io/immich-charts
    releaseName: immich
    namespace: immich
    version: 0.10.0
    valuesFile: values.yaml

generatorOptions:
  disableNameSuffixHash: true

components:
  - ../../components/ntfy-token
  - ../../components/offsite-ssh-key
  - ../../components/tls

resources:
  - db-credentials-secret.sealed.yaml
  - postgres/statefulset.yaml
  - postgres/service.yaml
  - storage.yaml
  #- tls-cert.yaml
  - backup/rbac.yaml
  - backup/orchestrator-cronjob.yaml

configMapGenerator:
  - name: immich-backup-job-definitions
    files:
      - backup/backup-media-job.yaml
      - backup/backup-db-job.yaml
  - name: tls-config
    literals:
      - host=photos.nora