helmCharts:
  - name: umami
    repo: https://charts.christianhuth.de
    releaseName: umami
    namespace: umami
    version: 6.0.1
    valuesFile: values.yaml

resources:
  - postgres.yaml
  - db-creds-secret.sealed.yaml
  - pvc-retain-patch.yaml

components:
  - ../../components/tls-ingress

configMapGenerator:
  - name: tls-config
    literals:
      - host=umami.nora
      - service=umami
      - port=http
      - pathType=ImplementationSpecific

# patches:
#   - target:
#       group: apps
#       version: v1
#       kind: Deployment
#       name: umami
#     patch: |-
#       - op: add
#         path: /spec/template/spec/containers/0/env/-
#         value:
#           name: DEBUG
#           value: "umami:*"
