apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ntfy

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - ingress.yaml
  - tls-cert.yaml
  - nginx-config.yaml

configMapGenerator:
    - name: server-config
      files: 
        - server.yml
