apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
      listen 8080;
      server_name ntfy.myzopotamia.dev;

      # Rewrite path
      location /backups {
          proxy_pass http://ntfy-deployment.ntfy.svc.cluster.local/backups;
          proxy_set_header Host $host;
          proxy_set_header CF-Connecting-IP $http_cf_connecting_ip;
          proxy_set_header X-Real-IP $http_cf_connecting_ip;
          proxy_set_header X-Forwarded-For $http_cf_connecting_ip;
      }

      # Block ALL other access
      location / {
          return 403;
      }
    }
